<html>
<head>
    <script src="{plotly_js}"></script>
    <style>
        /* Tooltip styling */
        #hover-tooltip {{
            position: absolute;
            background-color: white;
            border: 1px solid #ccc;
            padding: 10px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            display: none; /* Initially hidden */
            z-index: 10;
        }}
    </style>
</head>
<body>

    {plotly_fig}

    <!-- Tooltip div for persistent hover data -->
    <div id="hover-tooltip"></div>

    {tooltip_script}
</body>
</html>
