<script>
    document.addEventListener('DOMContentLoaded', function() {{
        var scatterPlot = document.getElementsByClassName('plotly-graph-div')[0];
        var tooltip = document.getElementById('hover-tooltip');

        scatterPlot.on('plotly_click', function(data) {{
            // Display tooltip near the clicked point
            tooltip.innerHTML = `
                <strong>Path:</strong> ${{data.points[0].customdata[0]}}<br>
                <strong>Branch:</strong> ${{data.points[0].customdata[1]}}<br>
                <strong>Extracted logs:</strong> ${{data.points[0].customdata[2]}}
            `;
            tooltip.style.display = 'block';
            tooltip.style.left = data.event.pageX + 10 + 'px';
            tooltip.style.top = data.event.pageY + 10 + 'px';
        }});

        // Hide the tooltip when clicking outside of the plot area
        document.addEventListener('click', function(event) {{
            if (!scatterPlot.contains(event.target) && !tooltip.contains(event.target)) {{
                tooltip.style.display = 'none';
            }}
        }});

        // Hide the tooltip when pressing the Escape key
        document.addEventListener('keydown', function(event) {{
            if (event.key === 'Escape') {{
                tooltip.style.display = 'none';
            }}
        }});
    }});
</script>
